In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv(r"C:\Users\user\Dropbox\PC\Desktop\Machine Learning\next labs\Part 2 (review_data)\review_data.csv")

In [3]:
df.head()

,text,star,app_id,reviewDate
0,Anathi Khanyile,5,com.fingersoft.hillclimb,18/03/21
1,Tony bahut funny hai Hill climbing racing my f...,5,com.fingersoft.hillclimb,18/03/21
2,Teturwu,1,com.fingersoft.hillclimb,18/03/21
3,Hoooooooooooyaaaaaaaaa what a game hoooooooooo...,5,com.fingersoft.hillclimb,18/03/21
4,This game is nice,5,com.fingersoft.hillclimb,18/03/21

In [4]:
df.describe()

               star
count  30000.000000
mean       4.117467
std        1.476620
min        1.000000
25%        4.000000
50%        5.000000
75%        5.000000
max        5.000000

In [5]:
df.columns

Index(['text', 'star', 'app_id', 'reviewDate'], dtype='object')

In [6]:
df.text

0                                          Anathi Khanyile
1        Tony bahut funny hai Hill climbing racing my f...
2                                                  Teturwu
3        Hoooooooooooyaaaaaaaaa what a game hoooooooooo...
4                                        This game is nice
                               ...
29995                                   Plz my Vidos viral
29996                                                 Nice
29997                    Disturbing too much as YouTube ad
29998                                        Koub valo vai
29999                            I want to grow my account
Name: text, Length: 30000, dtype: object

There are more grammatical mistakes in english as well as customers used their native language as well